
<h1>Bienvenidos a Mundo Tuerca</h1>
<p>Mundo Tuerca es un espacio donde podrás dejar tus experiencias, datos o malos ratos referente</p>
<p>a tu entorno automovilistico.</p>
<p>Tienes un buen dato que compartir?</p>
<p>Te cobraron mucho para un mal servicio?</p>
<p>Quieres compartir tu pasion con nosotros?</p>
<p>Este es tu espacio</p>
<BODY BACKGROUND="<%= asset_path 'rodamientos.jpg' %>">
